  @page "/about"
    
    <!-- main -->
            <div class="container" style="margin-top:92px">
                <div class="row justify-content-center py-5">
                    <h1>About Us</h1>
                </div>
                <!-- <div class="row "> -->
                    <div class="px-6 mb-5">

                 
                        
                            <p>
                                <span class="font-weight-bold">KICHANS employee mobility management </span>
                                was established as a private limited company in Norway in 2012 under the name “Kichan’s Easy
                                Steps AS”. KICHANS offer cost-effective services to both small and medium sized Norwegian
                                companies to enable them to plan, implement and successfully manage their employees temporarily
                                working in another country and employees hired from abroad to Norway.
                            </p>
                         
                            <div class="d-flex justify-content-center align-content-center  py-5">
                                <img class="img-fluid pb-3" src="assets/images/about2.jpg" alt="" srcset="">
                              </div> 
                        
                   
                        <h3 class="mb-3">Why you should choose KICHANS?</h3>
                       
                            <p>Companies operating in international environment face complex challenges when it comes to
                                International employee mobility. In order to obtain a smooth employee transfer from one country
                                to another, companies need to focus on the areas of immigration process, tax settlement,
                                insurance coverage and number of other formalities in both home country and in host country.</p>
                       
                      
                                <div class="d-flex justify-content-center align-content-center  py-5">
                                    <img class="img-fluid pb-3" src="assets/images/thinking2.jpg" alt="" srcset="">
                                  </div> 
                   
                 
                  
                  
                
                    <p>Cost projections plus alternative scenarios for employee benefits and prepare policy and a
                        practical guide to manage international assignments of employees is an important job for any
                        company operating internationally. Our knowledge and long experience in managing international
                        assignments for Norwegian Multinational companies helps you to save your time and money. We will
                        be partnering with both your HR leaders and individual assignees to deliver proactive and
                        personalized services.</p>
                    <p>As a client of KICHANS you are assured of:</p>
                    <ul class="list-unstyled ">
                        <li>
                            <div class="d-flex justify-content-start"><i class="ion-ios-arrow-right pr-1"></i>
                                <span>good understanding of the issues concerning International Employee mobility</span></div>
                            
                        </li>
                        <li>
                            <div class="d-flex justify-content-start"> <i class="ion-ios-arrow-right pr-1"></i>
                                <span>effective management of assignment costs including, tax and social security
                                    contributions</span></div>
                           
                        </li>
                        <li>
                            <div class="d-flex justify-content-start">
                                <i class="ion-ios-arrow-right pr-1"></i>
                                <span>cost savings on insurance plans and relocation services through our partnership with
                                    global solution providers</span>
                            </div>
                           
                        </li>
                        <li>
                            <div class="d-flex justify-content-start"> <i class="ion-ios-arrow-right pr-1"></i>
                                <span>project assistance as and when needed in your organization</span></div>
                           
                        </li>

                    </ul>
                    <p>We are focused on listening and understanding your needs and tailor-make own solutions for your
                        International assignments. To find out more about our services and the challenges your company
                        will face in international employee mobility, you can contact us for an informal meeting. </p>
                   </div>
               <!-- </div> -->
             <Inquiry />


            </div>
            <!-- main end -->
@code {

}