   @page "/contact"
    
   
    <!-- main -->
    <div class="container" style="margin-top:92px">
          <div class="row justify-content-center py-5" >
              <h1>Contact Us</h1>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-2 order-lg-1  order-md-1  order-sm-2 order-xs-2">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.777620189892!2d11.041625415849879!3d60.00218118189931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46417b92f2d4011d%3A0xb2f231ff6bfd8cc6!2sSkogfaret%209D%2C%202020%20Skedsmokorset%2C%20Norway!5e0!3m2!1sen!2slk!4v1596480208935!5m2!1sen!2slk" width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-1  order-lg-2 order-md-2  order-sm-1 order-xs-1">
                  <p>Please provide information you think we will need in order to address your enquiry including the location that it relates to. Please also include any additional contact details.</p>
                   <div class=" text-center pt-4">
                       <p class="font-weight-bold">   KICHANS employee mobility management
                    </p>
                 <p>Kichans Easy Steps AS</p>
                    <p>    Skogfaret 9D, 2020 Skedsmokorset, Norway</p>
                    
                <p>  Telefon: +47 950 283 86</p>
                    
                  <p>  Email: post@kichans.com</p>
                    
                  
                   </div>
            </div>
          </div>
        <div class="pb-5"></div>
      <Inquiry />

    
    </div>
    <!-- main end -->
@code {

}
