@page "/how-we-work"
<div class="container" style="margin-top:92px"></div>
    <div class="py-lg-5 py-md-5 py-sm-3 py-xs-3"></div>
<HowWeWork />
    <div class="py-lg-5 py-md-5 py-sm-2 py-xs-2"></div>
@code {

}
