  @page "/needs_description"
    
   <div class="container" style="margin-top:92px">

    <div class="row">
         
        <Banner2 Title="Foreign employee to Norway" />
        
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 px-4 py-4">


            <p>
                <span class="font-weight-bold">KICHANS employee mobility management </span>
                was established as a private limited company in Norway in 2012 under the name “Kichan’s Easy
                Steps AS”. KICHANS offer cost-effective services to both small and medium sized Norwegian
                companies to enable them to plan, implement and successfully manage their employees temporarily
                working in another country and employees hired from abroad to Norway.
            </p>

            <p>Companies operating in international environment face complex challenges when it comes to
                International employee mobility. In order to obtain a smooth employee transfer from one country
                to another, companies need to focus on the areas of immigration process, tax settlement,
                insurance coverage and number of other formalities in both home country and in host country.</p>

            <p>Cost projections plus alternative scenarios for employee benefits and prepare policy and a
                practical guide to manage international assignments of employees is an important job for any
                company operating internationally. Our knowledge and long experience in managing international
                assignments for Norwegian Multinational companies helps you to save your time and money. We will
                be partnering with both your HR leaders and individual assignees to deliver proactive and
                personalized services.</p>

        </div>


        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt-md-4 pt-lg-4 pt-sm-0 pt-xs-0">
            <h5>Categories</h5>
            <ul class="list-unstyled ">
                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a  class="text-dark" href="/needs_description">Policy and Procedures </a>
                    </div>

                </li>
                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a  class="text-dark" href="/needs_description">Contract, Terms and Conditions </a>
                    </div>

                </li>
                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a  class="text-dark" href="/needs_description">Visa and Work Permit </a>
                    </div>

                </li>
                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a  class="text-dark" href="/needs_description">Relocation </a>
                    </div>

                </li>
                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a  class="text-dark" href="/needs_description">Tax Planning  </a>
                    </div>


                </li>
                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a  class="text-dark" href="/needs_description">Social Security  </a>
                    </div>


                </li>
                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a  class="text-dark" href="/needs_description">Insurance </a>
                    </div>

                </li>
                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a  class="text-dark" href="/needs_description">Payroll and Reporting  </a>
                    </div>

                <li>
                    <div class="d-flex justify-content-start">
                        <i class="ion-ios-arrow-right pr-1"></i>
                        <a class="text-dark" href="/needs_description">Preparation of Expatriate and Family </a>
                    </div>

                </li>
                </li>

            </ul>
        </div>
     
       
    </div>
        <hr />
        <div class="mb-2"></div>

    <!-- </div> -->
    <div class="mb-3"></div>
    <div class="mb-3"></div>
    <HowWeWork />
    <div class="mb-4"></div>
    <Inquiry />
</div>

@code {

}