@page "/policy"
    <div class="container" style="margin-top:92px">
        <div class="pb-2"></div>
        <hr />

        <div class="row justify-content-center py-1 px-1 text-center">
            <h2>Policy and Procedures</h2>
        </div>
        <hr />

        <div class="pb-md-4 pb-lg-4 pb-sm-2 pb-xs-2">
            <p>Dealing with expatriate employees and designing their benefits packages is an important HR function of any organization. Total cost for an expatriate employee can be much higher than the cost of a local employee, but these can be kept under control with careful attention to the design and delivery of compensation and benefits programs.</p>
            <p>Moreover, the obligation of complying with the tax, social security and labour legislation in the respective host country requires good planning and careful follow up throughout the assignment period.</p>
            <p>Consulting starts with an introduction program - a minimum of three hours interactive presentation, tailor-made to your organisation. This program consists of a customized presentation of possible challenges your company will be facing when sending your employees on temporary assignments to other countries.</p>
            <p>Our objective of this program is to introduce the fundamentals of any International Assignment as well as to identify if your company needs our extended services to manage your International Assignments.</p>

        </div>
       
        <hr />
        <div class="pb-md-4 pb-lg-4 pb-sm-2 pb-xs-2"></div>
        <HowWeWork />
        <Inquiry />
    </div>
@code {

}
