<!-- banner -->
    <div class="card bg-dark text-white text-center banner">
      <img src="assets/images/employeeabroad.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <div class="d-flex justify-content-center align-items-center banner-content">
          <div>
            <h1 class=" font-weight-bold">Helping professionals across borders</h1>

          </div>

        </div>

      </div>
    </div>
    <!-- banner end -->

@code {
    [Parameter]
    public string Title { get; set; }
}
