


<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="col-lg-4 col-md-4  col-sm-4">
                    <div class="d-flex justify-content-center ">
                        <div>
                            <h3>Kichans</h3>
                            <p>
                                KICHANS employee mobility management was established as a
                                private limited company in Norway in 2012 under the name
                                “Kichan’s Easy Steps AS”.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4  col-sm-4">

                    <div class="d-flex justify-content-start justify-content-sm-center justify-content-md-center justify-content-lg-center ">
                        <div>
                            <h4>Useful Links</h4>
                            <ul class="list-unstyled ">
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="#" class="text-white">Your Needs</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="/how-we-work" class="text-white">How We work</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="#" class="text-white">Cases</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="/about" class="text-white">About Us</a>
                                </li>
                                <li>
                                    <i class="ion-ios-arrow-right"></i>
                                    <a href="/contact" class="text-white">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4  col-sm-4 ">
                    <div class="d-flex justify-content-start justify-content-sm-center justify-content-md-center justify-content-lg-center ">
                        <div>
                            <h4>Contact Us</h4>
                            <p>
                                Kichans Easy Steps AS
                                <br />
                                Skogfaret 9D, 2020 Skedsmokorset<br />
                                Norway <br />
                                <strong>Phone:</strong> +47 950 283 86<br />
                                <strong>Email:</strong> post@kichans.com<br />
                            </p>

                            <div class="social-links">

                                <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                                <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap  copyright justify-content-center align-items-center">
        <div>
            <span class="text-nowrap"> Copyright &copy; <strong>Kichans Easy Steps AS.</strong></span>

        </div>
        <div>
            <span class="text-nowrap">
                All Rights
                Reserved
            </span>
        </div>


    </div>
</footer>
<!-- #footer -->
 
@code {

}
