  <!-- how we work -->
    <div class="container">

      <div class="row justify-content-center mb-4">
        <h2 class="mb-3 mb-md-0">How we works</h2>
      </div>


      <div class="d-flex d-md-none d-lg-none justify-content-center">
        <h5 class="card-title">CONSULTING
        </h5>
      </div>

      <div class="row mb-4">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-2 order-md-1">
          <div class="card rounded-0 border-0">
            <div class="card-body">
              <h5 class="card-title d-none d-md-block d-lg-block">CONSULTING</h5>
              <p>This program consists of a customized presentation of possible challenges your
                company will be facing when sending your employees on temporary assignments to other countries</p>

              <div class="d-flex justify-content-end">
                <a href="/consulting" class="btn bg-theme-color  text-light rounded-pill btn-sm  p-1 px-2 mx-o mb-0">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-2">
          <div class="d-flex justify-content-center align-content-center h-100">
            <img class="avatar" src="assets/images/consulting-jobs.png" alt="" srcset="">
          </div>

        </div>
      </div>

      <div class="d-flex d-md-none d-lg-none justify-content-center">
        <h5 class="card-title">TRAINING & SUPPORT

        </h5>
      </div>
      <div class="row mb-4">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center order-1">
          <div class="d-flex justify-content-center align-content-center h-100">
            <img class="avatar" src="assets/images/training-and-support.jpg" alt="" srcset="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-2 order-md-1">
          <div class="card rounded-0 border-0">
            <div class="card-body">
              <h5 class="card-title d-none d-md-block d-lg-block">TRAINING & SUPPORT
              </h5>
              <p >Our training program can be set up as workshops with the key decision makers in your
                company to identify the tasks and agree upon the steps to be taken care of in each employee mobility
                case.</p>

              <div class="d-flex justify-content-end">
                <a href="/training_support" class="btn bg-theme-color  text-light rounded-pill btn-sm  p-1 px-2 mx-o mb-0">Read more</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="d-flex d-md-none d-lg-none justify-content-center">
        <h5 class="card-title">PROGRAM MANAGEMENT

        </h5>
      </div>
      <div class="row mb-4 ">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-2">
          <div class="card rounded-0 border-0">
            <div class="card-body">
              <h5 class="card-title d-none d-md-block d-lg-block">PROGRAM MANAGEMENT

              </h5>
              <p >We provide the practical assistance to make sure that the steps that are identified
                in the workshop session are taken care of in both home and host countries. You will save time and money
                by outsourcing the mobility process to us.</p>

              <div class="d-flex justify-content-end">
                <a href="/program_management" class="btn bg-theme-color  text-light rounded-pill btn-sm  p-1 px-2 mx-o mb-0">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-2">
          <div class="d-flex justify-content-center align-content-center h-100">
            <img class="avatar"
              src="assets/images/7-Crtical-Purposes-of-Performance-Appraisal-in-Human-Resource-Management-1.png" alt=""
              srcset="">
          </div>

        </div>
      </div>

    </div>

@code {

}
