

<hr />
<div class="mb-2"></div>
<form class="inquiry my-2 py-1">

    <div class="row justify-content-center mb-4">
        <h3 class="my-3 text-theme-color font-weight-bold">Inquiry</h3>
    </div>
    <div class="row justify-content-center ">
        <div class="col-xs-10 col-sm-10 col-md-7 col-lg-6 px-4">
            <div class="form-group">
                <input type="text" class="form-control  form-control-sm" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control  form-control-sm" id="company_name" placeholder="Company name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control  form-control-sm" id="phone" placeholder="Telephone">
            </div>
            <div class="form-group">
                <input type="email" class="form-control  form-control-sm" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <textarea class="form-control form-control-sm" id="message" rows="3" placeholder="Message"></textarea>
            </div>

            <button type="submit" class="btn btn-block text-white bg-theme-color">SEND</button>



        </div>

    </div>

    <div class="mb-2"></div>  <hr />
</form>
@code {

}
