  <!-- nav bar  -->
<nav class="navbar navbar-expand-md bg-light navbar-light justify-content-start fixed-top top-bar">
    <i id="sidebarCollapse" data-target="#collapsibleNavbar"
       class=" navbar-toggler fa fa-bars fa-2x mr-3 text-theme-color"></i>
    <!-- <button class="navbar-toggler mr-3" type="button" id="sidebarCollapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="" />
    </a>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav  mr-md-3  mx-lg-4">

            <li class="nav-item  px-lg-1">
                <div class="dropdown">
                    <a class="nav-link text-nowrap text-theme-color  " aria-haspopup="true" aria-expanded="false"
                       id="dropdownMenu2">
                        YOUR NEEDS
                    </a>
                    <div class="dropdown-menu dropdown-menu-left bg-light" aria-labelledby="dropdownMenu2">
                        <ul class="list-unstyled ">
                            <li>
                                <a href="/foreign_employee" class="text-decoration-none text-nowrap ">
                                    Foreign employee to
                                    Norway
                                </a>
                            </li>
                            <li>
                                <a href="/employee_abroad" class="text-decoration-none text-nowrap ">
                                    Employee going
                                    abroad
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </li>




            <li class="nav-item  px-lg-1">
                <a class="nav-link text-nowrap text-theme-color " href="#">HOW WE WORK</a>
            </li>


            <li class="nav-item  px-lg-1">
                <a class="nav-link text-nowrap text-theme-color " href="#">CASES</a>
            </li>


            <li class="nav-item  px-lg-1">
                <a class="nav-link text-nowrap text-theme-color " href="#">ABOUT US</a>
            </li>


            <li class="nav-item  px-lg-1">
                <a class="nav-link text-nowrap text-theme-color" href="#">CONTACT US</a>
            </li>



        </ul>
    </div>
</nav>
<!-- nav bar end -->


@code {
   
}

