<!-- side bar -->

<nav id="sidebar" class="d-block d-md-none ">



    <div class="sidebar-header">
        <a class="" href="#">
            <img class="sidebar-image" src="images/logo.png" alt="" />
        </a>
        <div>
            <i id="dismiss" class="text-theme-color fa fa-arrow-left"></i>

        </div>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#needs" data-toggle="collapse" aria-expanded="false" class="text-decoration-none">
                <i class="fa fa-home mr-2  text-theme-color"></i>
                <span>Your Needs</span>
                <!-- <i class="fa fa-chevron-down mt-1 pull-right"></i> -->
            </a>
            <ul class="collapse list-unstyled" id="needs">
                <li>
                    <a class="text-decoration-none text-nowrap" href="#">
                        Foreign employee to
                        Norway
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">
                        Employee going
                        abroad
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#howweworks" data-toggle="collapse" aria-expanded="false" class="text-decoration-none">
                <i class="fa fa-wheelchair-alt mr-2  text-theme-color"></i>            <span>How we works</span>
                <!-- <i class="fa fa-chevron-down mt-1 pull-right"></i> -->
            </a>
            <ul class="collapse list-unstyled" id="howweworks">
                <li>
                    <a class="text-decoration-none" href="#">Consulting</a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">Training and support</a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">Program management</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#cases" data-toggle="collapse" aria-expanded="false" class="text-decoration-none">
                <i class="fa fa-folder mr-2  text-theme-color"></i>
                <span>Cases</span>
                <!-- <i class="fa fa-chevron-down mt-1 pull-right"></i> -->
            </a>
            <ul class="collapse list-unstyled" id="cases">
                <li>
                    <a class="text-decoration-none" href="#">Going from norway to china</a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">Going from italy to norway</a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">Policy and Procedures</a>
                </li>

            </ul>
        </li>
        <li>

            <a class="text-decoration-none" href="#">  <i class="fa fa-users mr-2 text-theme-color"></i>About us</a>
        </li>
        <li>

            <a class="text-decoration-none" href="#"> <i class="fa fa-phone mr-2  text-theme-color"></i>Contact us</a>
        </li>

    </ul>
</nav>
<!-- side bar end -->
@code {

}
